body {
  margin: 0;
}

#canvas-div {
  width: 100vw;
  height: auto;
}

#canvas-div #msg {
  position: absolute;
  margin-top: 28vh;
  margin-left: 28vw;
  font-size: x-large;
}

#video-div {
  margin: auto;
  width: 100%;
  height: 80%;
  background-color: #eeeeee;
}

#video {
  display: block;
  height: 100%;
  width: auto;
  padding: 0;
  border: 0;
  margin: auto;
}

#face {
  position: absolute;
  height: inherit;
  top: 0;
  left: 0;
  right: auto;
}

#camera-div {
  width: 100%;
  height: 20%;
  overflow: hidden;
}

#camera {
  width: 100%;
}

#control-div {
  display: block;
  margin-top: 32px;
}

#control-div #live {
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 32px;
  padding: 16px 16px 0 16px;
  border: 1px solid black;
  background-color: #dddddd;
}

.column {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 8px;
}

.column label {
  text-align: right;
}

#control-div #static {
  margin-left: 8px;
}

#record {
  background-color: red;
  color: white;
}

#selectformatblock {
  display: none;
}

#recordingBlock {
  display: none;
  margin-left: 32px;
  margin-bottom: 16px;
}

#recordedVideo {
  width: 600px;
  margin-bottom: 16px;
}

#log-div {
  display: none;
  margin-top: 32px;
  margin-left: 8px;
  margin-right: 8px;
  width: calc(100vw - 16px);
  overflow: scroll;
}

.longslider {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

.error {
  color: red;
}

.warn {
  color: orange;
}

.info {
  color: darkgreen;
}
